:root {
  --themecolor: cornflowerblue;
}
#app,
.slider {
  background: #333;
}
.slider > div {
  background: #c6c6c6;
}
.hr {
  border-bottom-color: #fff5;
}
@media screen and (max-width: 820px) {
  #app:not(.hasVideo) #video:not(.fs) .videobar {
    border-bottom: 3px solid var(--themecolor);
  }
}
main > div {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background: #444;
  border-bottom: 3px solid var(--themecolor);
  border-radius: 10px 0 10px 0;
}
.label {
  background: #555;
}
#drawers .label:not(.highlighted),
.dropzone {
  background: #ddd;
}
.videobar,
nav,
#app.fullscreen {
  background: #444;
}
nav,
nav .videobar {
  border-bottom: 3px solid var(--themecolor);
}
nav,
#video,
nav .videobar {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#video {
  border-top-left-radius: 10px;
  overflow: hidden;
}
a,
nav > div > span > span,
nav > div > div > button,
input[type="number"],
.videobar,
#tomove,
#logo {
  color: #fff;
}
#drawers a,
#learnmore > div:nth-child(3) > div > span,
#query,
#findstation {
  color: #000;
}
main > div {
  color: #fff;
}
#video {
  border-top: 3px solid var(--themecolor);
}
#hint > div {
  background: #fff;
  color: #000;
}
input,
.modal {
  background: #444;
  color: #fff;
}
#drawers input,
#drawers button {
  color: #000;
}
tr:hover .smartmenu {
  background: #3d3d3d;
}
#drawers,
#footer,
#addfooter {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  color: #000;
}
input:not(#query) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
}
#search > div > div:nth-child(1),
#drawers input:not(#query),
.monthseparator {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5) !important;
}
#volumeline,
#volumecircle {
  background: #eee;
}
#progressbar {
  background: var(--themecolor);
}
.hotkeyTile {
  background: rgba(0, 0, 0, 0.1);
}
.modal {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.2);
}
