@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../webfonts/FiraSans-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../webfonts/FiraSans-Medium.ttf);
  font-display: swap;
}
@keyframes fadein {
  from {
    opacity: 0;
    max-height: 0%;
  }
  to {
    opacity: 1;
    max-height: 100%;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
    max-height: 100%;
  }
  to {
    opacity: 0;
    max-height: 0%;
  }
}
* {
  outline: 0;
}
#app.noTransitions *,
#app.noTransitions *::before,
#app.noTransitions *::after {
  transition: none !important;
}
body {
  font-family: Fira Sans, sans-serif;
  margin: 0;
  overflow-x: hidden !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.noOverflow {
  overflow-y: hidden;
}
#app {
  min-height: 100vh;
  overflow-x: hidden;
  transition: background 2s;
}
#app.fullscreen {
  position: absolute;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  transition: none;
}
button {
  font-weight: 400;
}
h1,
h2 {
  font-weight: normal;
}
.broadcaster {
  font-weight: bold;
}
.important {
  color: #f00;
}
.highlighted {
  color: #008000;
}
.label.highlighted {
  background: #008000;
  color: #fff;
}
.label.important {
  background: #f00 !important;
  color: #fff;
}
.dropzone {
  display: flex;
  cursor: pointer;
  border: 1px dotted #888;
  padding: 10px;
  text-align: center;
  min-height: 120px;
}
button {
  font-family: Fira Sans, sans-serif;
}
#nightmode {
  display: none;
}
a {
  white-space: nowrap;
}
a > svg path,
button > svg path,
#logo path {
  opacity: 0.7;
  transition: opacity 0.2s;
}
a:hover > svg path,
button:hover > svg path,
:hover > #logo path {
  opacity: 1;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 2;
}
#app.noNavbar nav {
  transform: translateY(-100%);
}
nav > div {
  top: 0;
  max-width: 800px;
  width: calc(100% - 120px);
  padding: 0 10px;
  overflow: hidden;
}
svg#logo {
  height: 36px;
  vertical-align: middle;
  padding: 7px 0 7px 4px;
}
nav > div > span {
  float: left;
  font-size: 22px;
  cursor: pointer;
  white-space: nowrap;
  width: 0;
}
nav > div > span > span {
  vertical-align: middle;
}
nav > div > div {
  float: right;
  white-space: nowrap;
}
input {
  border-radius: 0;
}
input[type="number"] {
  background: transparent;
  border: none;
  font-size: 18px;
  width: 70px;
  font-family: Fira Sans, sans-serif;
  text-align: center;
}
main > div {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.relaxed {
  cursor: none !important;
}
.relaxed #page,
.relaxed #dialogLayer {
  opacity: 0 !important;
  pointer-events: none !important;
}
.relaxed #visualization div {
  background: #fff;
}
.button {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  margin: 10px 0;
  padding: 5px 15px;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
}
.button > svg[role="img"] {
  margin-left: -5px;
}
.button-primary {
  padding: 5px;
  cursor: pointer;
}
.button-primary:hover {
  text-decoration: underline;
}
.button-big {
  font-size: 24px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 12px 10px 8px 10px;
}
.button-big:hover {
  background: var(--themecolor);
  transition: background 0.2s;
}
.fsdiv {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
.back {
  display: none;
}
#video {
  width: calc(100% + 120px);
  max-width: 100vw;
  transform: translateX(-60px);
  position: relative;
  height: 100%;
}
#app.fullscreen #video {
  width: 100%;
  transform: none;
  border-top: none;
  border-top-left-radius: 0;
}
#vcontain {
  background: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#app.fullscreen #video {
  height: 100vh;
  transition: margin 0.3s, max-width 0.3s;
}
#app.fullscreen #vcontain {
  height: 100%;
}
#app.fullscreen .videobar .button-primary,
#app.fullscreen .station {
  font-size: 27px;
  color: #fff;
}
.videobar {
  padding: 15px 10px;
  width: calc(100% - 20px);
  bottom: 0;
  text-align: left;
  display: table;
  height: 41px;
  visibility: visible;
  opacity: 1;
}
.hidden {
  cursor: none;
}
.hidden .videobar {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
nav > div > div:nth-child(3) {
  transform: translateX(30px);
  width: calc(100% + 20px);
  opacity: 0;
  pointer-events: none;
  padding: 0 20px 20px 20px;
  overflow-y: hidden;
}
.videobar > div {
  display: table-cell;
  vertical-align: middle;
}
#app.fullscreen .videobar {
  padding: 22.5px 15px;
  width: calc(100% - 30px);
  position: absolute;
  background: rgba(34, 34, 34, 0.9);
}
#hint .button {
  color: inherit;
  font-weight: normal;
  margin-bottom: -5px;
}
.checkable,
#stations > div {
  cursor: pointer;
  display: table;
}
#stations > div > div {
  display: table-cell;
}
#stations > div > div:nth-child(3) {
  cursor: auto;
  vertical-align: middle;
}
#dialogLayer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  transition: background 0.3s;
}
.dialog #dialogLayer {
  pointer-events: all;
  background: rgba(0, 0, 0, 0.5);
}
.checkable > div > div {
  cursor: auto !important;
}
.checkable > div {
  vertical-align: top;
  display: table-cell;
}
#controlpanel {
  text-align: left;
}
#controlpanel > div {
  margin: 20px 0 10px 10px;
}
input[type="number"] {
  border-radius: 0;
}
.smartmenu {
  font-family: Fira Sans, sans-serif;
  font-weight: 900;
  border-bottom: none !important;
  opacity: 0.7;
  cursor: pointer;
}
#stations .smartmenu,
#tomove .smartmenu {
  font-size: 18px;
  padding: 10px;
  height: 42px;
  width: 42px;
  text-align-last: center;
}
#listdl {
  font-size: 16px;
  padding: 0;
  height: auto;
  width: 20px;
  text-align-last: right;
}
#tomove .smartmenu {
  background: transparent;
}
.smartmenu:hover {
  opacity: 1;
}
main {
  max-width: 820px;
  height: calc(100% - 50px);
  text-align: center;
}
main > div {
  padding: 0 60px 20px 60px;
}
.itemname[disabled],
#customstations input[disabled],
.tagInput input[disabled] {
  color: inherit;
  border-bottom: 2px solid transparent !important;
}
.itemname,
#customstations input,
.tagInput input {
  border: none;
  font-size: 20px;
  font-family: Fira Sans, sans-serif;
  background: none;
  width: calc(100% - 20px);
}
#customstations input,
.tagInput input {
  margin-bottom: 10px;
}
.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.dragging * {
  cursor: inherit !important;
}
.playbutton {
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin: 0 20px;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.5);
  display: table;
  opacity: 0;
  overflow: hidden;
}
.playing .playbutton,
#stations > div:hover .playbutton {
  opacity: 1;
}
.icontain {
  margin: 0 20px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  overflow: hidden;
  box-shadow: 0 0 1px #000;
}
.icon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 22px;
  text-align: center;
  color: #fff;
  background: #fff;
  border-radius: 50%;
}
.icon > img {
  width: 100%;
}
.icon > span {
  width: 100%;
}
.playing .icon,
#stations > div:hover .icon {
  filter: blur(5px);
}
p {
  padding: 10px 0;
}
#page {
  position: relative;
  z-index: 1;
  transition: margin-left 0.3s, opacity 0.3s;
}
#drawers {
  transform: translateX(-200px);
  max-width: 470px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s;
}
#drawers.shown {
  transform: none;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}
.info > span.slide-fade-enter,
.info > span.slide-fade-leave-to {
  transform: translateX(30px);
}
#drawers .slide-fade-enter,
#drawers .slide-fade-leave-to {
  transform: translateX(-50px);
}
.description {
  font-size: 15px;
  opacity: 0.7;
}
#drawers,
#hint,
#volumemodal,
#tomove {
  z-index: 2;
}
#controls > a {
  font-size: 30px;
}
.station {
  width: 100%;
  max-width: 0;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
}
.broadcaster,
.info > span {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.station,
.button-primary {
  font-size: 18px;
}
.button-primary,
#page,
#dialogLayer {
  transition: opacity 0.3s;
}
.button-primary,
nav,
main > div {
  transition: padding-left 0.3s, width 0.3s;
}
.broadcaster {
  line-height: 21px;
}
#app.fullscreen .broadcaster {
  line-height: normal;
}
.info {
  font-size: 17px;
  line-height: 20px;
}
#app.fullscreen .videobar > div:nth-child(1) {
  display: none;
}
#infobox {
  font-size: 16px;
  margin-left: 5px;
}
#infobox > div:nth-child(4) a {
  display: block;
  width: 100%;
  max-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hr {
  padding-top: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
a.active {
  color: var(--themecolor) !important;
  font-weight: bold;
}
a.active svg path {
  opacity: 1;
}
.ifactive,
a.active .unlessactive {
  display: none;
}
a.active .ifactive {
  display: inline;
}
.options .button {
  font-size: 18px;
  padding: 2px 12px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
#drawers > div,
#hint,
#volumemodal {
  top: 0;
  text-align: center;
  transition: all 0.3s;
}
#drawers > div {
  padding: 20px;
}
#hint,
#volumemodal {
  margin: 50px auto;
  overflow: hidden;
  pointer-events: none;
}
video {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: block;
}
video::-webkit-media-controls,
.tags::-webkit-scrollbar,
.label:empty {
  display: none;
}
.label {
  padding: 0.2em 0.6em 0.3em;
  display: inline-block;
  margin-bottom: 2px;
  font-size: 12px;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.9);
  z-index: 1;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}
#loading > div {
  position: fixed;
  top: calc(50% - 2.5em);
  left: calc(50% - 2.5em);
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
#loading > div > a {
  color: #fff;
}
#menu button,
#title-manager button,
nav > div > div > button,
#loading > div > a,
#loadmore button {
  height: 50px;
  font-size: 20px;
  background: none;
  border: none;
  padding: 0 10px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 0;
}
#menu button,
#title-manager button {
  text-align: left;
}
#menu button,
#title-manager button,
#loadmore button {
  width: 100%;
}
#menu button:hover,
#title-manager button:hover,
.button:hover,
nav > div > div > button:hover,
#loadmore button:hover {
  color: var(--themecolor);
}
#menu button:active,
#title-manager button:active,
.button:active,
nav > div > div > button:active,
#loadmore button:active,
button.active {
  background: var(--themecolor) !important;
  color: #fff !important;
}
button.active svg path {
  opacity: 1;
}
.listitem {
  cursor: pointer;
}
.options {
  cursor: default;
}
.reload {
  display: table-cell;
}
.result,
.listitem,
.checkmark {
  transition: all 0.2s;
}
#tomove,
#stations > div:hover,
.result:hover,
input:not(#query):focus,
.listitem:hover,
.hovered {
  background: rgba(0, 0, 0, 0.1);
}
a {
  cursor: pointer;
  text-decoration: none;
}
#stations > div > div:nth-child(2) {
  text-align: left;
  width: 100%;
  max-width: 0;
  padding: 20px 0;
}
h4 {
  margin-top: 0;
}
#search > div > div:nth-child(1) {
  margin-bottom: 20px;
}
.typing {
  background: rgba(0, 0, 0, 0.1);
}
#results {
  display: none;
  text-align: left;
  padding-top: 5px;
}
#stations > div > div:nth-child(1) {
  padding: 20px 0;
  vertical-align: top;
}
.checkable > div:nth-child(1) {
  width: 25px;
  font-size: 20px;
}
.checkable > div:nth-child(2) {
  padding-top: 3px;
}
.result .checkmark {
  opacity: 0;
  width: 0;
}
.result.selected .checkmark {
  opacity: 1;
  width: 25px;
}
#removestation > h3 {
  padding-bottom: 10px;
}
#about > div:nth-child(3) > div {
  margin-bottom: 10px;
}
#about > div:nth-child(3) > div > img {
  height: 50px;
  margin-right: 5px;
  vertical-align: middle;
}
#about > div:nth-child(3) > div > span {
  margin-left: 5px;
  font-size: 30px;
  vertical-align: middle;
}
#settings > p:nth-child(4) > span,
input {
  vertical-align: middle;
}
#query {
  width: calc(100% - 40px);
  border: none;
  font-size: 24px;
  font-family: Fira Sans, sans-serif;
  padding: 10px;
  background: none;
}
#query::-webkit-search-cancel-button {
  display: none;
}
#moreoptions {
  text-align: left;
  padding-bottom: 10px;
}
#moreoptions svg,
#showrecent svg,
#showbookmarks svg {
  transition: transform 0.3s;
}
#showbookmarks i {
  transform: rotate(-180deg);
}
#findstation {
  font-size: 20px;
  font-family: Fira Sans, sans-serif;
  width: 40px;
  border: none;
  background: none;
  white-space: nowrap;
}
#footer {
  text-align: center;
  font-size: 20px;
}
.slide-enter,
.slide-leave-to {
  transform: translateY(100%);
}
@keyframes progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
#progressbar.progress-enter-active {
  animation: progress 10s linear;
}
#progressbar.progress-leave-active {
  animation: none;
}
#progressbar {
  height: 3px;
  transform-origin: left;
  visibility: hidden;
}
#progressbar.active {
  visibility: visible;
}
#visualization > div {
  position: fixed;
  background: #fff;
  opacity: 0.1;
  width: 8.9%;
  height: 50%;
  top: 100%;
  transition: top 0.1s;
}
#visualization > div:nth-child(1) {
  left: 1%;
}
#visualization > div:nth-child(2) {
  left: 10.9%;
}
#visualization > div:nth-child(3) {
  left: 20.8%;
}
#visualization > div:nth-child(4) {
  left: 30.7%;
}
#visualization > div:nth-child(5) {
  left: 40.6%;
}
#visualization > div:nth-child(6) {
  left: 50.5%;
}
#visualization > div:nth-child(7) {
  left: 60.4%;
}
#visualization > div:nth-child(8) {
  left: 70.3%;
}
#visualization > div:nth-child(9) {
  left: 80.2%;
}
#visualization > div:nth-child(10) {
  left: 90.1%;
}
#relaxcaption {
  color: #fff;
  display: table;
  text-align: center;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: calc(100% - 20vw);
  height: 50%;
  padding: 0 10vw;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
#relaxcaption span {
  display: table-cell;
  vertical-align: middle;
}
#relaxcaption div {
  width: 80vw;
}
#relaxcaption div:nth-child(1) {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#relaxcaption div:nth-child(2) {
  font-size: 0.9em;
}
.relaxed #relaxcaption {
  visibility: visible;
  opacity: 1;
}
#hint {
  font-weight: bold;
}
#app.fullscreen #hint {
  transform: scale(1.5);
}
#hint,
#volumemodal {
  width: 100%;
  position: fixed;
}
#footer .button {
  color: inherit !important;
}
#hint > div {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  max-width: calc(100% - 40px);
  pointer-events: auto;
}
#app.fixedPlayer nav {
  border-bottom: none;
}
#app.fixedPlayer nav > div > div:nth-child(3) {
  opacity: 1;
  pointer-events: all;
}
#app.fixedPlayer #video .videobar {
  opacity: 0;
}
#app.fixedPlayer #video {
  box-shadow: none;
}
main,
nav > div,
.broadcaster,
.info > span {
  transition: all 0.3s;
}
#page,
nav {
  display: flex;
}
#page::before {
  content: "";
  width: calc(50% - 460px);
  min-width: calc(50% - 460px);
  transition: all 0.3s;
}
main {
  flex: 1;
}
nav::before {
  content: "";
  width: calc(50% - 460px);
  min-width: calc(50% - 460px);
  transition: all 0.3s;
}
nav > div {
  flex: 1;
  overflow: visible;
  padding: 0 60px;
}
nav > div > div:nth-child(3) {
  padding: 0 0 20px 0;
  margin: 0 20px;
}
.dialog #page {
  opacity: 0.5;
}
#app.dialog {
  overflow-y: hidden;
}
.result {
  display: inline-block;
  margin-right: 10px;
}
.flip-list-enter,
.flip-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.flip-list-leave-active {
  position: absolute;
}
@media (min-width: 1024px) and (max-width: 1230px) {
  #app.dialog nav button > span {
    display: none;
  }
}
@media (min-width: 1024px) {
  body:not(.relaxed) {
    overflow-y: auto;
  }
  #app.dialog {
    overflow-y: auto;
  }
  #app.dialog #page {
    opacity: 1;
    filter: none;
  }
  #app.dialog.fullscreen #video {
    margin-left: 470px;
    max-width: calc(100% - 470px);
  }
  #app.dialog #page::before,
  #app.dialog nav::before {
    min-width: 470px;
  }
  #app.dialog #dialogLayer {
    pointer-events: none;
    background: none;
  }
}
@media (min-width: 821px) {
  main {
    padding: 0 50px;
  }
  #app:not(.fullscreen) main > div {
    margin: 100px 0 50px 0;
  }
}
#app.fullscreen nav {
  z-index: 4;
  transition: transform 0.5s;
  box-shadow: none;
}
#app.fullscreen main > div {
  border: none;
  box-shadow: none;
}
#app.fullscreen #video {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  border-top: none;
}
#app.fullscreen #maincontrols {
  margin-top: 100vh;
}
#app.fullscreen #dialogLayer {
  z-index: 5;
}
.toosmall {
  display: none;
}
@media (max-width: 820px) {
  #app:not(.fullscreen) main {
    margin-top: 50px;
  }
  main > div {
    min-height: calc(100vh - 70px);
  }
  nav {
    box-shadow: none !important;
  }
  #app:not(.hasVideo) nav {
    border-bottom: none !important;
  }
  nav > div {
    padding: 0 10px;
  }
  main > div,
  #video {
    border-bottom: none !important;
    border-radius: 0 !important;
  }
  #app:not(.hasVideo) #video {
    border-top: none !important;
  }
  #pseudovsl {
    opacity: 0.5;
  }
  .toosmall {
    display: inline;
  }
}
@media (max-width: 680px) {
  nav > div > div > button > span,
  .advopts {
    display: none !important;
  }
}
@media (max-width: 600px) {
  main > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  #video {
    width: calc(100% + 40px);
    transform: translateX(-20px);
  }
}
@media (max-width: 480px) {
  .mainopts .prevstation,
  .mainopts .nextstation {
    display: none;
  }
}
