<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Enjoy your favorite TV and radio streams!"
    />
    <meta name="google" content="notranslate" />
    <meta name="theme-color" content="#222" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="<%= BASE_URL %>img/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="<%= BASE_URL %>img/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="<%= BASE_URL %>img/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="<%= BASE_URL %>img/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="<%= BASE_URL %>img/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="<%= BASE_URL %>img/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="<%= BASE_URL %>img/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="<%= BASE_URL %>img/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= BASE_URL %>img/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="<%= BASE_URL %>img/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= BASE_URL %>img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="<%= BASE_URL %>img/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= BASE_URL %>img/favicon-16x16.png"
    />
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>css/core.css" />
    <style id="themestyle"></style>
    <title>Radiolise</title>
  </head>
  <body>
    <noscript>
      <strong
        >Sorry, Radiolise doesn't work without JavaScript enabled. Please enable
        it to continue.</strong
      >
    </noscript>
    <div id="app">
      <a href="js/LICENSES.html" rel="jslicense"></a>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
